<section id="profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 img-container-profile">
        <img
          src="../../../assets//logo-company-modified.png"
          alt="logo company"
          class="img_logo_company"
        />
      </div>
      <div class="col-lg-8 profile-text">
        <h1 class="heading-text">Welcome to Ronald Angular Company!</h1>
        <h2 class="sub-heading-text">Work Hard Pray Hard 😜</h2>
        <p class="description-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel
          elit viverra, efficitur augue sodales, sollicitudin urna. Donec tempor
          accumsan imperdiet. Nullam lacinia et nunc ac lacinia. Suspendisse
          efficitur lectus nec nisl viverra, in fermentum ipsum congue. Donec
          dictum rhoncus augue, sed tristique mauris mollis vitae. Nullam
          volutpat pulvinar sem vitae sollicitudin. Duis pharetra lorem quis ex
          pretium vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Suspendisse vel consectetur massa, laoreet vulputate neque.
          Praesent pharetra consequat sodales. Integer nec neque lobortis urna
          hendrerit molestie viverra a est. Praesent convallis erat ut dolor
          varius, ut eleifend sapien accumsan. Aenean semper ligula consectetur
          turpis congue, nec consectetur erat egestas. Phasellus quis molestie
          tellus. Etiam placerat ex sed leo ultrices ornare sed vitae nulla.
          Integer porta rutrum nulla eu vulputate. Mauris facilisis elementum
          erat, vitae hendrerit mauris commodo vitae. Sed tristique congue
          facilisis. Sed elementum purus urna, a accumsan ipsum cursus a. Nam
          eget sodales lacus. Vivamus semper molestie posuere. Nam rutrum non
          sapien ac semper. Pellentesque eu augue sapien. Maecenas pellentesque
          hendrerit felis. Cras mi justo, malesuada at magna ut, imperdiet
          scelerisque felis.
        </p>
      </div>
    </div>
  </div>
</section>
