<section id="contact">
  <div class="container-fluid">
    <h2 class="title_section">CONTACT</h2>
    <div class="row">
      <div class="col-lg-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62516755.845474124!2d13.138552749999999!3d16.988319649999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f6f5802f381d%3A0xe816d65037c3207a!2sCentral%20Park%20Mall!5e0!3m2!1sen!2sid!4v1679244483157!5m2!1sen!2sid"
          width="800"
          height="600"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="map"
        ></iframe>
      </div>
      <div class="col-lg-6 contact_text">
        <div class="row">
          <div class="col-lg-1 col-sm-1 col-md-1 text-start">
            <p><b>Email:</b></p>
            <p><b>No HP:</b></p>
            <p><b>Address:</b></p>
          </div>
          <div class="col-lg-11 col-sm-11 col-md-11 text-start">
            <p>Ronaldgustavo.rg@Gmail.com</p>
            <p>081278541350</p>
            <p>Jl Jembatan dua raya, apartemen robinson</p>
          </div>
        </div>
      </div>
    </div>
    <div class="icon-sosmed">
      <a href="https://www.linkedin.com/in/ronald-gustavo-369a4820a"
        ><i class="fa-brands fa-linkedin fa-2x"></i
      ></a>
      <a href="https://www.instagram.com/ronaldrg20/"
        ><i class="fa-brands fa-instagram fa-2x"></i
      ></a>

      <a href="https://www.facebook.com/Ronaldrg20/"
        ><i class="fa-brands fa-facebook fa-2x"></i
      ></a>
    </div>
  </div>
</section>
