<nav class="navbar navbar-expand-lg navbar-dark bg-transparent py-4">
  <!-- container-fluid = untuk margin -->
  <div class="container-fluid">
    <!-- navbar-brand = untuk logo -->
    <a href="" class="navbar-brand">
      <img
        src="../../../assets//logo-company-modified.png"
        alt="logo company"
        class="logo-company"
      />
      Ronald Angular Company</a
    >
    <!-- Navbar-toggler = untuk membuat menu hamburger -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapse = untuk menghilangkan -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <!-- Navbar-nav = untuk memunculkan menu nya -->
      <!-- ms-auto = untuk mengatur margin menjadi kiri kanan -->
      <ul class="navbar-nav ms-auto">
        <!-- Nav_item = untuk list menu -->
        <li class="nav_item">
          <!-- Nav-link = untuk menghilangkan decoration link -->
          <a href="#profile" class="nav-link navtest">Profile</a>
        </li>
        <li class="nav_item">
          <a href="#testimonial" class="nav-link">Testimonial</a>
        </li>
        <li class="nav_item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
